{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" />
</head>
<body>
    <div id="header">

    {% if request.user.is_authenticated %}
        <nav class="navbar navbar-inverse">
            <div class="containter-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "dashboard" %}">Wspólne żarcie</a>
                </div>
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        <li class="active" >
                            <a href="#">
                                Dłużnicy
                            </a>
                        </li>
                        <li class="" >
                            <a href="#">
                                Moje długi
                            </a>
                        </li>
                        <li class="" >
                            <a href="#">
                                Moje żarcie
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="#">
                                {{ request.user.first_name }}</a>
                            <!--<a href="{% url 'password_change' %}">Zmien haslo</a>-->
                        </li>
                        <li class="" >
                            <a href="#">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Nowe żarcie
                            </a>
                        </li>
                        <li class="" >
                            <a href="{% url "logged_out" %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Wyloguj
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
     {% endif %}

    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        Created in Django Framework by mdolata 2017
    </div>

</body>
</html>