{% extends "base.html" %}

{% block title %} Logowanie {% endblock %}

{% block content %}

    <h1 align="center">Logowanie</h1>

    <div>
        <form action="{% url 'login' %}" method="post">
            <div class="imgcontainer">

            </div>
            <p>
                <table align="center">
                    {% for field in form %}
                    <tr><th>{{ field.label_tag }}</th><th>{{ field }}</th></tr>
                    {% if field.errors %}
                        <tr><th></th><th>{{ field.errors }}</th></tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
            </p>
            <p><button type="submit">Zaloguj</button></p>
            <p><a href="{% url "password_reset" %}">Zapomniales hasla?</a> </p>
            <p><a href="{% url "register" %}">Zarejestruj nowe konto</a></p>

        </form>
    </div>
{% endblock %}